// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: 'Courier Prime';
    src: url('../assets/fonts/CourierPrime.eot');
    src: url('../assets/fonts/CourierPrime.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/CourierPrime.woff') format('woff'),
        url('../assets/fonts/CourierPrime.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('../assets/fonts/CourierPrime-Bold.eot');
    src: url('../assets/fonts/CourierPrime-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/CourierPrime-Bold.woff') format('woff'),
        url('../assets/fonts/CourierPrime-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.tab-button{
    background: map-get($colors, dark);
}

.tab-button-icon,
.tab-button{
    color:map-get($colors, primary)!important;
}

.enable-hover a:hover{
    opacity: 1;
}

.tab-button[aria-selected=true]{
    background: map-get($colors, light);
}

.tab-button {
    min-height: 10rem!important;
}

.tab-button-text{
    font-weight: bold;
}

.tab-button-icon{
    font-size: 4rem;
}

.tabs-ios .tab-button{
    font-size:12px;
}
