// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: 'Courier Prime';
    src: url('../assets/fonts/CourierPrime.eot');
    src: url('../assets/fonts/CourierPrime.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/CourierPrime.woff') format('woff'),
        url('../assets/fonts/CourierPrime.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('../assets/fonts/CourierPrime-Bold.eot');
    src: url('../assets/fonts/CourierPrime-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/CourierPrime-Bold.woff') format('woff'),
        url('../assets/fonts/CourierPrime-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.tab-button{
    background: map-get($colors, dark);
}

.tab-button-icon,
.tab-button{
    color:map-get($colors, primary)!important;
}

.enable-hover a:hover{
    opacity: 1;
}

.tab-button[aria-selected=true]{
    background: map-get($colors, light);
}

.tab-button {
    min-height: 10rem!important;
}

.tab-button-text{
    font-weight: bold;
}

.tab-button-icon{
    font-size: 4rem;
}

.tabs-ios .tab-button{
    font-size:12px;
}

ion-list .item-block ion-icon[name=marker]{
    background: url(../assets/imgs/marker.png) no-repeat center;
    background-size: contain;
    margin: 8px 13px 8px 0;
}

ion-list .item-block .item-inner{
    margin-left:0!important;
}

.note-ios {
    color: #ffffff!important;
}

ion-list .item-block{
    min-height: 8rem;  
}

ion-list .item-block:nth-child(even){
    background:#252525;
}

ion-list .item-block:nth-child(odd){
    background:#000000;
}

ion-list .item-block ion-label,
ion-list .item-block ion-icon,
ion-list .item-block .note-md{
    color:#fff;
}

ion-list .item-block ion-label{
    font-weight: bold;
    font-size: 18px;
}

ion-list .item-block ion-note{
    font-style: italic;
}

ion-content.content{
    background-color: #000;
}


ion-content .section.content{
    background-color: #fff;
    -webkit-box-shadow: inset 0px 0px 0px 2px black;
    box-shadow: inset 0px 0px 0px 2px black;
    border: 4px solid #ffffff;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}

ion-content .section h3.title{
    font-weight: bold;
}

ion-content .section{
    padding: 15px;
    margin: 15px;
}

ion-content .wrap{
    max-width: 500px;
    position: relative;
    margin: 0 auto;
}

ion-content .spacer-30p{
    height:30%;
    position:relative;
}

ion-content .poster{
    position:fixed;
    width: 100%;
}

ion-content .itinerary{
    width:150px;
    max-width:100%;
}

ion-content content { 
    width:100%;
    max-width:500px;
    height:auto;
    margin:0 auto;
 }

ion-content ul{
    padding-left: 0;
    margin:0
}

ion-content li{
    list-style: none;
    margin-bottom: 5px;
}

ion-content .two-columns li{
    width: 32%;
    display: inline-block;
}

ion-content li ion-icon{
    width: 1.2em;
    text-align: center;
}

ion-content ion-card-content{
    padding: 20px 25px!important;
}
  

ion-header .toolbar-background {
    border-color: #000000;
    background: #000000;
}

.toolbar-title,
.back-button {
    color: #ffffff;
    font-weight:bold;
}

.tabs-ios .tabbar{
    border-top:none;
}

.back-button-text-ios{
    font-size: 12px;
}

.toolbar {
    padding: 4px;
    min-height: 56px;
}

.tabs-md .tab-button-icon {
    min-width: 3rem;
    font-size: 3rem;
}

video { 
   width:100%;
   max-width:500px;
   height:auto;
   display:block;
}

.tabs-ios .tabbar{
    background: #000000;
}

.swiper-pagination-bullet-active,
.swiper-pagination-bullet {
    background: #8a621e;
}

.button-md{
    text-transform: none!important;
}

ion-slide h2{ 
    font-size: 2.4rem; 
    text-transform: uppercase;
}

ion-slide p{
    font-size: 1.4rem;
    margin-bottom:0
}

ion-slide .slide-image{
    width:50%!important;
    max-width:100%!important;
}

ion-slide button{
    font-size: 1.8rem!important;
}

@media only screen and (min-width: 767px) {

    ion-slide h2{
        font-size: 5rem;
    }

    ion-slide button{
        font-size: 4rem!important;
    }
 
    ion-slide p{
        font-size: 3rem;
    }

}



