<ion-content>

<ng-container *ngIf="userLat;then locations else loading"></ng-container>

<ng-template #loading>

        <div class="wrap">
            <div class="section content" text-center>
  
                <ion-spinner name="ios" ></ion-spinner>
  
                <h3 class="title">Nous recherchons votre position</h3>
                <p padding-bottom>Merci de patienter quelques secondes...</p>

            </div>
        </div>
  
</ng-template>
  

<ng-template #locations>
      
  <ion-list no-border no-lines>

      <ion-item (click)="showInfo(location)" *ngFor="let location of artworkList">
          <ion-icon name='marker' item-start></ion-icon>
          {{location.name}}
          <ion-note item-end *ngIf="location.distance != null">
          {{location.distance}} km
          </ion-note>
      </ion-item>


  </ion-list>

  </ng-template>

